@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Manrope", sans-serif;

  --breakpoint-3xl: 1920px;

  --color-button: #D87D4A;
  --color-bg-black: #101010;
  --color-bg-gray: #F1F1F1;
  --color-bg-light-gray: #FAFAFA;
  --color-button-hover: #fbaf85;
  --color-button2: #FFFFFF;
  --color-button2-hover: #000000;
  --color-error: #CD2C2C;
}
